<%= provide(:title, "Contact") %>

<div class="contact-wrapper">
	<div class="contact-header-bg">
	</div>
	<div class="contact-container">
		<div class="contact-content">
			<h1>CONTACT US</h1>
			<i class="far fa-clock"></i><br>
			<h2>Hours</h2>
			<p>Mon-Fri: 8am - 5pm</p>
			<p>Sat-Sun: Closed</p><br>
			<i class="fas fa-phone"></i><br>
			<h2>Phone</h2>
			<p>0912974822</p><br>
			<i class="fas fa-map-marked"></i><br>
			<h2>Address</h2>
			<p>Address</p>
			<p>11th Floor, Handico Tower, Pham Hung</p>
			<p>Ha Noi</p>
			<p>Viet Nam</p><br>
			<i class="fas fa-envelope"></i><br>
			<h2>Email</h2>
			<p>Customer Suppor: support@64audio.com</p>
			<p>General Questions: ti3ndat363@gmail.com</p><br>
		</div>
		<div class="map-container">
			<div class="map">
			</div>
		</div>
	</div>
</div>