<%= provide(:title, "Support") %>

<div class="help-heading">
	<a href="#"><span>?</span> CONTACT US</a>
</div>
<div class="help-container">
	<h2>HOW CAN WE HELP YOU TODAY?</h2>
	<div class="help-content">
		<div class="help-contentBx">
			<i class="far fa-times-circle"></i>
			<p>Problem with my IEM</p>
		</div>
		<div class="help-contentBx">
			<i class="fas fa-history"></i>
			<p>Check on my order status</p>
		</div>
		<div class="help-contentBx">
			<i class="fab fa-searchengin"></i>
			<p>Need help with something else</p>
		</div>
		<div class="help-contentBx">
			<i class="fas fa-user"></i>
			<p>Contact Support</p>
		</div>
	</div>
</div>