<% provide(:title, "Home") %>
    <video class="home-video" autoplay muted loop>
        <source src="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/nio-launch-vid.mp4?v=1594150651" type="video/mp4">
    </video>
    <div class="home-video-layout"></div>
    
    <div class="home-wrapper">

        <div class="contentBx">
            <div class="strong-word"><span>NIO</span></div>
            <p>Extraordinary Sound<br>Meets Extraordinary Color</p>
            <a href="#" class="bt1">DISCOVER NIO</a>
            <a href="#" class="bt2">PLAY VIDEO</a>
        </div>
    </div>