<% provide(:title, "How To Order") %>

<%= render 'layouts/header' %>

<div class="order-heading"></div>
<div class="order-container">
	<h2>HOW TO ORDER CUSTOM IN-EAR MONITORS</h2>
	<p>Ordering Custom In-Ear Monitors is easy with 64 Audio - just follow these simple steps.</p>
	<div class="order-contentBx">
		<h3><span>1</span> Design & Order</h3>
		<p>Start by going to one of the <a href="http://localhost:3000/pages/iems">Custom In-Ear Monitor product pages</a> and select the "order now" button. Design your perfect set of Custom In-Ear Monitors and place your order. You will receive a confirmation email with a link to track the order process.</p>
	</div>
	<div class="order-contentBx">
		<h3><span>2</span> Download our Ear Impressions Guides</h3>
		<p>You'll use the three documents from this PDF in the remaining three steps.</p>
		<a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Impressions Guide</a>
	</div>
	<div class="order-contentBx">
		<h3><span>3</span> Get Your Ear Impressions</h3>
		<p>Custom In-Ear Monitors require ear impressions. Find an Audiologist near you and schedule an appointment to get ear impressions done for custom in-ear monitors.</p>
		<p>Take the <a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Audiologist Impression Guide</a> to your appointment to ensure your ear impressions are taken to our standards.</p>
		<p>Please note, the cost of your ear impressions must be paid directly to the Audiologist and cannot be billed to 64 Audio.</p>
	</div>
	<div class="order-contentBx">
		<h3><span>4</span> Email Us Photos</h3>
		<p></p>
	</div>
	<div class="order-contentBx">
		<h3><span>5</span> Ship Your Ear Impressions</h3>
		<p></p>
	</div>
</div>

<%= render 'layouts/footer' %>