<% provide(:title, t('pages.order.how_to_order')) %>

<div class="order-heading"></div>
<div class="order-container">
	<h2>HOW TO ORDER CUSTOM IN-EAR MONITORS</h2>
	<p>Ordering Custom In-Ear Monitors is easy with 64 Audio - just follow these simple steps.</p>
	<div class="order-contentBx">
		<h3><span>1</span> Design & Order</h3>
		<p>Start by going to one of the <a href="http://localhost:3000/pages/iems">Custom In-Ear Monitor product pages</a> and select the "order now" button. Design your perfect set of Custom In-Ear Monitors and place your order. You will receive a confirmation email with a link to track the order process.</p>
	</div>
	<div class="order-contentBx">
		<h3><span>2</span> Download our Ear Impressions Guides</h3>
		<p>You'll use the three documents from this PDF in the remaining three steps.</p><br>
		<a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Impressions Guide</a>
	</div>
	<div class="order-contentBx">
		<h3><span>3</span> Get Your Ear Impressions</h3>
		<p>Custom In-Ear Monitors require ear impressions. Find an Audiologist near you and schedule an appointment to get ear impressions done for custom in-ear monitors.</p><br>
		<p>Take the <a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Audiologist Impression Guide</a> to your appointment to ensure your ear impressions are taken to our standards.</p><br>
		<p>Please note, the cost of your ear impressions must be paid directly to the Audiologist and cannot be billed to 64 Audio.</p>
	</div>
	<div class="order-contentBx">
		<h3><span>4</span> Email Us Photos</h3>
		<p>Email us photos of your new ear impressions following images on the <a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Customer Impressions Guide</a>.</p><br>
		<p>Taking clear photos from the angles outlined in the document is critical for our technicians to properly evaluate your impression.</p><br>
		<p>Email your photos to impressions@64audio.com. You will receive a response in 2–3 business days.</p>
	</div>
	<div class="order-contentBx">
		<h3><span>5</span> Ship Your Ear Impressions</h3>
		<p>Once your ear impressions are approved, you're ready to ship your ear impressions.</p><br>
		<p>Complete and include the <a href="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Impressions_guide_2020.pdf?v=1600721186">Impressions Packing Slip</a>. This is critical for us to accurately and quickly matching your ear impressions to your online order from step one.</p><br>
		<p>Please note, we highly recommend using a shipping method that provides a tracking number (e.g., FedEx, UPS, DHL). Customers, both domestic and international, are responsible for all courier fees, import taxes, and/or customs charges where applicable. 64 Audio does not take responsibility for lost or stolen shipments before receipt has been confirmed by an official 64 Audio representative.</p><br>
		<p>Please ship your ear impressions and Impressions Packing Slip to:</p><br>
		<p><span>64 Audio, ATTN: IMPRESSIONS</span></p><br>
		<p><span>4510 NE 68th Dr. Suite 102</span></p><br>
		<p><span>Vancouver, WA 98661 USA</span></p><br>
		<p>Allow up to one business day for processing after your ear impressions arrive at the 64 Audio lab. Once processed, you will receive a confirmation receipt of your ear impressions.</p>
	</div>
</div>