<% provide(:title, "Review") %>

<% if logged_in? %>
	<div class="review-wrapper">

		<div class="slide-review-container">
			<div class="slide-review-content">
				
			</div>
		</div>
		<div class="review-container">
			<div class="review-content">
				<%= render 'shared/feed' %>
			</div>
		</div>
	</div>
<% end %>
