<% provide(:title, "Review") %>
<div class="review-wrapper">
	<div class="slide-review-container">
		<div class="slide-review-content">
			
		</div>
	</div>
	<div class="review-container">
		<div class="review-content">
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i1.wp.com/blog.64audio.com/wp-content/uploads/2017/10/Chicago-Red.jpg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>THE BENEFITS OF SWITCHING TO A SILENT STAGE</h2></a>
				<span>OCTOBER 12, 2017</span>
				<p>One of the topics we hear come up time and time again is the idea of a “silent stage.”  This idea isn’t new by any means but has shown to be more prevalen...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i2.wp.com/blog.64audio.com/wp-content/uploads/2017/08/64Audio0868-copy-copy.png?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>TIPS & TRICKS FOR YOUR IEMS</h2></a>
				<span>AUGUST 3, 2017</span>
				<p>So, you've purchased a pair of in-ear monitors (or maybe you are thinking about it). They fit well, the seal is just right, you're getting the isolation you de...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i0.wp.com/blog.64audio.com/wp-content/uploads/2017/07/64Audio_PressRelease4.png?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>64 AUDIO WINS IMPORTANT VICTORY AT THE U.S. PATENT OFFICE</h2></a>
				<span>JULY 19, 2017</span>
				<p>VANCOUVER, WA, July 20, 2017 – 64 Audio (formerly 1964 Ears) is pleased to announce that on July 19, 2017, the U.S. Patent Trial & Appeal Board (PTAB) ruled...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i2.wp.com/blog.64audio.com/wp-content/uploads/2017/07/girlIEMS.jpeg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>IN-EAR MONITOR, EARPHONE, HEADPHONE, EARBUD…WHAT’S THE DIFFERENCE?</h2></a>
				<span>JULY 16, 2017</span>
				<p>We at 64 Audio frequently hear many different terms when customers refer to their personal listening equipment. Headphones, earphones, in-ear monitors, earbuds...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i0.wp.com/blog.64audio.com/wp-content/uploads/2019/05/A12t_narrow.jpg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>WHAT IS AN IN-EAR MONITOR (IEM)?</h2></a>
				<span>JUNE 6, 2017</span>
				<p>Over the last four decades, innovations in technology have changed the way we experience music. One of the biggest changes was the introduction of in-ear monit...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i2.wp.com/blog.64audio.com/wp-content/uploads/2017/05/64Audiotradeshow.png?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>TRADE SHOWS: 64 AUDIO’S LIFELINE</h2></a>
				<span>MAY 16, 2017</span>
				<p>We often don’t get as many chances as we would like to meet our customers in person. Customers we like to call our 64 Family. We are typically up to our ears i...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i2.wp.com/blog.64audio.com/wp-content/uploads/2017/05/1964earslogo.jpeg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>FROM 1964 EARS TO 64 AUDIO: A COMPANY TIMELINE</h2></a>
				<span>MAY 2, 2017</span>
				<p>This year, we are celebrating our 7th anniversary! Some of you have been with us since the very start, but for those who are more recent additions to the 64 Aud...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i0.wp.com/blog.64audio.com/wp-content/uploads/2017/04/PackagingUpdate2.jpg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>U18 TZAR AND TIA FOURTÉ SHIPPING ANNOUNCEMENT</h2></a>
				<span>APRIL 4, 2017</span>
				<p>Here They Come!Back in November 2016, we publicized the release of three new models – the A18 Tzar, U18 Tzar, and tia Fourté.The A18 Tzars have been shippin...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i0.wp.com/blog.64audio.com/wp-content/uploads/2017/02/apex_Banner-copy.jpg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>CORRECTING THE RECORD</h2></a>
				<span>FEBRUARY 20, 2017</span>
				<p>Dear valued 64 Audio™ customers, It has recently come to our attention that our previous business partner, Asius Technologies, LLC has been publicizing misinfor...</p>
			</div>
			<div class="review-contentBx">
				<div class="image">
					<img src="https://i2.wp.com/blog.64audio.com/wp-content/uploads/2017/02/NEW_BNNR_update_tia.jpg?resize=360%2C240&ssl=1">
				</div>
				<a href="#"><h2>U18T & FOURTÉ – TIA PRODUCTS UPDATE</h2></a>
				<span>FEBRUARY 15, 2017</span>
				<p>We have some very exciting news to announce: our apex technology is now officially patent pending! The U18 and Fourté aluminum shells have arrive...</p>
			</div>
		</div>
	</div>
</div>