<% provide(:title, "Technology") %>

<%= render 'layouts/header' %>

<div class="technology-wrapper">
	<div class="technology-textBx">
		<h1>64 AUDIO <span>TEACHNOLOGIES</span></h1>
		<p>Innovations that only 64 Audio offers, all designed to challenge traditional in-ear monitor designs to bring you a truly unique listening experience</p>
	</div>
	<div class="technology-content">
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/e533152d-0a88-4d6e-a4e4-055188bd1335/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 90px;"></div>
			<h2>Tubeless Transparency</h2>
			<p>Our industry-first, tubeless technology eliminates sound-altering dampers and tubes. This reduced resonance reveals a new level of resolution and transparency.</p>
			<a href="#">LEARN MORE</a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/6273061d-156c-451b-81e3-81bd4aab1f52/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 170px;"></div>
			<h2>Fatigue-Free Listening</h2>
			<p>This pneumatically interactive vent relieves air pressure in a sealed ear canal, alleviating listener fatigue and opening the soundstage.</p>
			<a href="#">LEARN MORE</a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/29415090-aec4-4f3f-b105-963f86c2db60/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 180px;"></div>
			<h2>Handcrafted Comfort</h2>
			<p>A new way of manufacturing custom in-ear monitors preserves the details of your ear impressions for the most comfortable-fitting IEMs possible.</p>
			<a href="#">LEARN MORE</a>
		</div>
		<div class="technology-contentBx">
			<div class="imgBx"><img src="https://i.shgcdn.com/8ca29030-7cd3-4d5e-bf9f-c3917f991546/-/format/auto/-/preview/3000x3000/-/quality/lighter/" style="width: 90px;"></div>
			<h2>Consistent Sound</h2>
			<p>Enjoy a steadfast sound at any venue. From studio to stage, this proprietary circuit ensures your IEM's sound signature stays the same no matter what it's plugged into.</p>
			<a href="#">LEARN MORE</a>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>