<div class="well">
  <p class="text-muted">
    <strong><%= comment.user.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

	<blockquote>
	  <p><%= comment.content %></p>
	</blockquote>

	
  	<p><%= link_to 'reply', new_comment_path(comment.id) %></p>
</div>
