<% provide(:title, 'Sign up') %>
<% provide(:button_text, t('form.submit.create')) %>

<div class="login-singup-wrapper">
    <div class="login-content">
        <h1><%= t('form.submit.signup') %></h1>
        <div class="login-form">
            <%= render 'form' %>
        </div>
    </div>
</div>
