<li id="hashtag-<%=hashtag.id%>">
  <span><%= hashtag.name %></span>
  <%= link_to t('form.submit.delete'), hashtag, method: :delete, data: { confirm: 'Are you sure?' } , id: "hashtag-a-#{hashtag.id}" %>
</li>

<script type="text/javascript">
$('a[id^="hashtag-a-"]').click(function (event) {
	alert('aaaaa');
event.preventDefault();
event.stopPropagation();
event.stopImmediatePropagation();
                var url_id = $(this).val();

                $.ajax({
                    type: "DELETE",
                    url: $(this).attr('href'),
                    data: {_method: 'delete'},
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if(data.result == 'OK') {
                        	$('li[id="hashtag-' + data.id + '"]').remove();
                    	}
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });

</script>