<% provide(:title, @request.user_id) %>

<div class="hashtag-wrapper">
  <div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
	      <h1>
	       <%= @request.user_id %>
	      </h1>
	    </section>
	  </aside>
	</div>
</div>