<% provide(:title, 'Product Collection') %>

<div class="product-collection-wrapper">
    <div class="template-collection">
        <div class="template stage1">
            <div class="templateTx"><%= link_to "studio", admin_collections_studio_path(distribute: Product.distributes[:studio]) %></div>
        </div>
        <div class="template stage2">
            <div class="templateTx"><%= link_to "audiophile", admin_collections_audiophile_path(distribute: Product.distributes[:audiophile]) %></div>
        </div>
        <div class="template stage3">
            <div class="templateBx">
                <h2><%= link_to "stage", admin_collections_stage_path(distribute: Product.distributes[:stage]) %></h2>
                <p>Award-winning custom IEMs for performing musician</p>
            </div>
        </div>
    </div>

    <div class="product-collection-container">

        <%= render 'product_collection' %>

    </div>
</div>