<% provide(:title, 'All Request') %>


<div class="requests-wrapper">
	<h1>All Requests</h1>
	<div class="requests-container">
		<div class="requests-content">
			<%= render @requests %>
		</div>
	</div>
	<%= will_paginate %>
</div>