@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'easy-autocomplete/dist/easy-autocomplete';
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    width: 100%;
}
.container{
    width: 100%;
    padding: 0;
}

/* home background */

.home-video{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home-video-layout{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.8);
    mix-blend-mode: overlay;
}
.home-wrapper{
    width: 100%;
    height: 100vh;
    padding: 0 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* Header */

header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    transition: 0.5s;
}
.header-layout{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, #000, #fff);
    mix-blend-mode: darken;
    opacity: 0.75;
}
header .logo{
    width: 150px;
}
header .logo img{
    width: 100%;
}
header .menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menubar li{
    list-style: none;
}
header .menubar li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    color: #fff;
    padding: 0 20px;
}
header .menubar li a:hover{
    color: #606060;
}
header .userbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .userbar li{
    list-style: none;
    margin-left: 20px;
}
header .userbar li a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
header .userbar li i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}

header.sticky{
    background: #000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}

/* Home Page */


.contentBx{
    width: 60%;
    max-width: 60%;
}
.contentBx .strong-word{
    width: 100%;
    transition: 1s;
}
.contentBx .strong-word span{
    font-size: 7em;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: bolder;
    word-break: break-word;
    padding-left: 0;
}
.contentBx .strong-word:hover{
    padding-left: 30px;
}
.contentBx p{
    font-size: 24px;
    color: #fff;
    font-family: Montserrat,sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 40px;
}
.contentBx .bt1{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    padding: 8px 24px;
    border-radius: 30px;
    background: #fff;
    color: #000;
    transition: 0.3s;
}
.contentBx .bt1:hover{
    color: #3a3a3a;
    background: #222222;
}
.contentBx .bt2{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    padding: 8px 24px;
    border-radius: 30px;
    color: #000;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.contentBx .bt2:hover{
    color: #3a3a3a;
    font-size: 22px;
    margin-left: 16px;
}



/* Home Hidden Menu */


.hidden-menu{
    position: fixed;
    z-index: 1000000000000;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background: #fff;
    padding: 20px 50px;
    margin-right: -450px;
    box-shadow: -15px 0 20px rgba(0,0,0,0.2);
    transition: 0.3s;

    .close-buttom{
        position: relative;
        margin-bottom: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        i{
            font-size: 50px;
            cursor: pointer;
        }
        ul{
            padding-top: 35px;
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
                margin-left: 20px;
                a{
                    text-decoration: none;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    &:hover{
                        padding-left: 0;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    ul{
        position: relative;

        li{
            list-style: none;
            margin-bottom: 30px;

            a{
                color: #000;
                font-size: 20px;
                transition: 0.3s;
                font-weight: bold;

                &:hover{
                    padding-left: 10px;
                    color: #868686;
                    text-decoration: none;
                }
            }
        }
    }
}

/* Embed Video */

.embed-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    .embed-layout{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.9;
    }
    iframe{
        position: fixed;
        z-index: 1000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 70%;
    }
    .close-embed{
        position: fixed;
        z-index: 1000000;
        top: 100px;
        right: 260px;
        width: 60px;
        i{
            color: #fff;
            font-size: 40px;
            cursor: pointer;
        }
    }
}
.embed-video.active{
    opacity: 1;
    visibility: visible;
}

/* Footer */

footer{
    width: 100%;
    padding: 15px 200px;
    background: #f6f6f6;
}
footer .sci{
    width: 300px;
    margin: 65px 200px;
    display: flex;
    align-items: center;
}
footer .sci li{
    list-style: none;
}
footer .sci li a i{
    color: #333232;
    transform: scale(1.8);
    margin-right: 40px;
}
footer .footer-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer .footer-content li{
    list-style: none;
}
footer .footer-content li h3{
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #606060;
    margin-bottom: 20px;
}
footer .footer-content li ul li{
    margin-bottom: 10px;
}
footer .footer-content li ul li a{
    text-decoration: none;
    color: #606060;
    font-family: Montserrat,sans-serif;
}
footer .footer-content li ul li a:hover{
    text-decoration: underline;
}
footer .small-footer{
    margin-top: 80px;
}
footer .small-footer span{
    color: #606060;
}
footer .small-footer span a{
    color: #606060;
    text-decoration: none;
}

/* Help Page */

.help-heading{
    width: 100%;
    height: 450px;
    background: url('https://i.shgcdn.com/78b13491-9fee-4aa4-9f30-c1d2b487a5ab/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-heading a{
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 22px 32px;
    background: #000;
    border-radius: 50px;
}
.help-heading a span{
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 13px 10px 15px;
    background: #fff;
    border-radius: 50%;
}
.help-heading a:hover{
    color: #333232;
}
.help-heading a:hover span{
    background: #333232;
    color: #fff;
}
.help-container{
    width: 100%;
    padding: 50px 200px;
}
.help-container h2{
    font-family: Montserrat,sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.help-container .help-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.help-container .help-content .help-contentBx{
    width: 300px;
    height: 250px;
    background: #fff;
    margin: 20px;
    text-align: center;
    transition: 0.2s;
    border: 5px solid rgba(160, 180, 192, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.help-container .help-content .help-contentBx:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.help-container .help-content .help-contentBx i{
    color: rgba(160, 180, 192, 1);
    transform: scale(5);
    margin-bottom: 40px;
}
.help-container .help-content .help-contentBx p{
    font-family: Montserrat,sans-serif;
    font-size: 18px;
}

/* iems page */

.iems-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.iems-wrapper .clip{
    min-width: 616px;
    height: 100%;
    padding-top: 150px;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.iems-wrapper .clip h2{
    color: #fff;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}
.iems-wrapper .clip h2 span{
    font-weight: 550;
}
.iems-wrapper .clip p{
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 24px;
    max-width: 400px;
    margin-bottom: 60px;
}
.iems-wrapper .clip a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 550;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 40px;
    transition: 0.2s;
}
.iems-wrapper .clip a:hover{
    color: #000;
    font-weight: 300;
    background: #fff;
    font-size: 18px;
    margin-left: -3px;
}
.iems-wrapper .clip.clip1{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/e5f14d0f-fdb7-4ada-bf5f-f635a504f7c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.iems-wrapper .clip.clip1:hover{
    min-width: 850px;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://i.shgcdn.com/e5f14d0f-fdb7-4ada-bf5f-f635a504f7c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
}
.iems-wrapper .clip.clip2{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/d620dff9-95bb-4a5c-964c-3b6d07794a05/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.iems-wrapper .clip.clip2:hover{
    min-width: 850px;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://i.shgcdn.com/d620dff9-95bb-4a5c-964c-3b6d07794a05/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
}
.iems-wrapper .clip.clip3{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/575cf84b-ad18-4e3e-bf8a-e170c0b05e1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.iems-wrapper .clip.clip3:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://i.shgcdn.com/575cf84b-ad18-4e3e-bf8a-e170c0b05e1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-position: center;
    background-size: cover;
}



/* login/singup page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-singup-wrapper{
    width: 100%;
    padding: 150px 550px;
}
.login-singup-wrapper .login-content{
    width: 100%;
}
.login-singup-wrapper .login-content p{
    font-family: Roboto,"PierSans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16.5px;
    line-height: 1.5em;
    font-weight: 400;
}
.login-singup-wrapper .login-content h1{
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 2.333em;
    font-weight: 400;
    margin: 25px auto;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
        font-family: Roboto,"PierSans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16.5px;
        line-height: 1.5em;
        font-weight: 400;
        #a-signup{
            color: #3a3a3a;
        }
    }

    span{
        font-family: Roboto,sans-serif;
        font-size: 18px;
        color: #3a3a3a;
        font-weight: 100;
        margin-top: 10px;
    }
}


.login-form form label{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 100;
    margin-bottom: 10px;
}
.login-form form #title,
.login-form form #price,
.login-form form #name,
.login-form form #email,
.login-form form #pwd{
    height: 40px;
    outline: none;
    border: 0.5px solid #3a3a3a;
    margin-bottom: 20px;
    width: 750px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.login-form form .areaS{
    height: 100px;
    outline: none;
    border: 0.5px solid #3a3a3a;
    margin-bottom: 20px;
    width: 750px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.login-form form .areaL{
    height: 200px;
    outline: none;
    border: 0.5px solid #3a3a3a;
    margin-bottom: 20px;
    width: 750px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.login-form form .submit{
    width: 90px;
    background: #3a3a3a;
    color: #fff;
    height: 44px;
    font-size: 15px;
    margin: 20px auto;
}


.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
    margin-left: 20px;
    font-weight: normal;
    }
}
#session_remember_me {
    width: auto;
    margin-left: 0;
}
.error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}
.field_with_errors {
    @extend .has-error !optional;
    .form-control {
        color: red;
    }
}


/* Order Page */

.order-heading{
    width: 100%;
    height: 350px;
    background: url('https://i.shgcdn.com/626341d0-720c-4c75-9707-415fb0a3c83c/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-container{
    width: 100%;
    padding: 50px 400px 100px 400px;
    h2{
      font-size: 1.73em;
      font-family: 'Montserrat', sans-serif;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    h3{
      font-family: Roboto;
      font-size: 27px;
      font-weight: 500;
      margin: 25px 0;
      span{
        padding: 5px 15px 5px 15px;
        border: 1px solid #000;
        border-radius: 50%;
      }
    }
    a{
        color: #000;
        text-decoration: underline;
    }
    p{
      font-family: Roboto,"PierSans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1px;
      span{
        font-weight: 500;
      }
    }
}

/* Technology Page */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.technology-wrapper{
    width: 100%;
    min-height: 800px;
    background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)),
          url('https://cdn.shopify.com/s/files/1/0411/4717/0966/files/technology-pages-background.jpg?v=1593784462');
    background-position: center;
    background-size: cover;

    .technology-textBx{
        width: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        h1{
            color: #fff;
            font-size: 45px;
            font-family: Montserrat;
            font-weight: 300;
            text-align: center;
            span{
                font-weight: 600;
            }
        }
        p{
            color: #fff;
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 300;
            max-width: 900px;
            margin: 30px auto;
            text-align: center;
        }
    }
    .technology-content{
        display: flex;
        flex-direction: row;
        .technology-contentBx{
            max-width: 459.5px;
            padding: 50px 60px 50px 40px;
            border-right: 1px solid #fff; 
            .imgBx{
                width: 180px;
                height: 60px;
            }
            h2{
                color: #fff;
                font-size: 18px;
                font-family: Montserrat;
                font-weight: 550;
                margin-top: 15px;
                margin-bottom: 25px;
            }
            p{
                color: #fff;
                font-size: 15px;
                font-family: Montserrat;
                font-weight: 300;
                margin-bottom: 35px;
                line-height: 24px;
            }
            a{
                color: #000;
                text-decoration: none;
                font-size: 16px;
                padding: 8px 25px;
                border: 2px solid #000;
                border-radius: 40px;
                transition: 0.2s;
            }
        }
        .technology-contentBx:last-child{
            border-right: none;
        }
        .technology-contentBx:hover a{
            color: #fff;
            border: 2px solid #fff;
        }
        .technology-contentBx:hover a:hover{
            background: #fff;
            color: #000;
        }
    }
}

/* Review Page */

.review-wrapper{
    width: 100%;
    padding-bottom: 80px;
    overflow: hidden;

    .review-show-header-bg{
        width: 100%;
        height: 150px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    .userInfo{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        background: #F0F8FF;
        transition: 0.5s;
        margin-bottom: 30px;

        .userInfo-container{
            width: 100%;
            height: 100%;
            padding: 20px 200px;
            padding-left: 350px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .userInfoA{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .userInfo-ava{
                    margin-right: 20px;
                }
                .userInfo-name{
                    color: #5488c7;
                    font-size: 22px;
                    font-family: Montserrat;
                    font-weight: 550;
                }
                ul{
                    display: flex;
                    width: 300px;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 8px;
                    li{
                        list-style: none;

                    }
                }
            }
            .userInfoB{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .userInfo1{
                    .create-review{
                        color: #fff;
                        font-size: 22px;
                        font-family: Montserrat;
                        font-weight: 400;
                        letter-spacing: 2px;
                        padding: 10px 30px;
                        border-radius: 15px;
                        background: #4682B9;
                        transition: 0.2s;
                        &:hover{
                            text-decoration: none;
                            background: #1e90ff;
                        }
                    }
                }
                .userInfo2{
                }
                .userInfo2{
                    margin-left: 20px;
                    .autocomplete {
                        /*the container must be positioned relative:*/
                        position: relative;

                        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        width: 350px;
                        input {
                            border: 1px solid transparent;
                            background-color: #f1f1f1;
                            padding: 10px;
                            font-size: 16px;
                        }
                        
                        #autocomplete-search {
                            background-color: #f1f1f1;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 221px;
                            font-size: 16px;
                            font-family: Montserrat;
                            font-weight: 400;
                            color: red;
                        }
                        input[type=submit] {
                            background-color: DodgerBlue;
                            color: #fff;
                            width: 75px;
                        }
                        .easy-autocomplete-container{
                            ul{
                                li{
                                    border-top: 1px solid #868686;
                                    .eac-item{
                                        padding: 6px 0;
                                        a{
                                            color: #333;
                                            &:hover{
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    .userInfo.sticky{
        position: fixed;
        z-index: 999999999;
        top: 72px;
        left: 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }

    .review-container{
        width: 100%;
        display: flex;
        justify-content: center;
        .review-content{
            width: 1200px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .review-contentBx{
                width: 380px;
                margin: 10px;
                border-bottom: 1px solid #868686;
                padding-bottom: 30px;
                padding-right: 10px;
                .image{
                    margin-bottom: 20px;
                    width: 100%;
                    height: 250px;
                    transition: 0.3s;
                    background-position: center;
                    background-display: cover;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        filter: brightness(50%);
                    }                    
                }
                a{
                    text-decoration: none;
                    h2{
                        color: #000;
                        font-size: 24px;
                        font-family: Montserrat;
                        font-weight: 550;
                        letter-spacing: 2px;
                        margin-bottom: 5px;
                    }
                }
                span{
                    color: #777777;
                    font-family: Montserrat, sans-serif;
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
                p{
                    margin-top: 15px;
                    color: #484848;
                    font-family: Montserrat, sans-serif;
                    font-size: 12.6px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                   -webkit-line-clamp: 3; /* number of lines to show */
                   -webkit-box-orient: vertical;
                }
            }
        }
    }
    .paginate{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* Review Form */

.review-form-wrapper{
    margin-top: 150px;
    padding-bottom: 100px;
    width: 100%;
    h1{
        color: #3a3a3a;
        font-family: Montserrat, sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
    }
    .review-form-content{
        width: 100%;
        display: flex;
        justify-content: center;
        form{
            width: 750px;
            .submit{
                width: 90px;
                background: #3a3a3a;
                color: #fff;
                height: 44px;
                font-size: 15px;
                margin: 20px 330px;
            }
            .field{
                width: 100%;
                span{
                    font-family: Roboto,sans-serif;
                    font-size: 24px;
                    color: #3a3a3a;
                    font-weight: 100;
                    line-height: 2em;
                }
                #title, #content{
                    font-family: arial;
                    height: 40px;
                    outline: none;
                    border: 0.5px solid #3a3a3a;
                    margin-bottom: 20px;
                    width: 750px;
                    line-height: 40px;
                    font-size: 18px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .img-buttom{
                    font-size: 16px;
                    padding-left: 20px;
                }
            }
        }
    }
}

/* User Show */

.user-show-wrapper{
    padding: 0 200px;
    padding-top: 150px;
    width: 100%;
    min-height: 70vh;
    
    h2{
        text-align: center;
        color: #000;
        font-size: 35px;
        font-family: Montserrat;
        font-weight: 550;
        letter-spacing: 2px;
    }
    h4{
        text-align: center;
        font-size: 18px;
        font-family: Montserrat;
        a{
            color: #868686;
        }
    }
    .user-info-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .order-history{
            width: 900px;
            h3{
                font-family: Roboto,sans-serif;
                font-size: 24px;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
            p{
                font-family: Roboto,sans-serif;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
        .user-info-content{
            width: 500px;
            h3{
                font-family: Roboto,sans-serif;
                font-size: 24px;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
            p{
                font-family: Roboto,sans-serif;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 30px;
                span{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
            a{
                margin-top: 70px;
                font-family: Roboto,sans-serif;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}
.gravatar{
    border-radius: 50%;
}

/* Review Show */
.review-show-wrapper{
    .review-show-header-bg{
        width: 100%;
        height: 150px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    .review-show-container{
        margin-top: 20px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .review-show-containerBx{
            width: 770px;
            padding: 0px 10px;
            margin-right: 20px;

            .reviewUser-info{
                width: 100%;
                height: 80px;
                padding: 10px;

                .reviewUser-info-ava{
                    float: left;
                    margin-right: 10px;
                }

                #followBx{
                    padding: 5px 15px;
                    color: #9b9b9b;
                    font-family: Roboto,sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    border: 1px solid #9b9b9b;
                    border-radius: 5px;
                    margin-left: 30px;
                    &:hover{
                        text-decoration: none;
                    }
                }

                .reviewUser-info-name{
                    min-width: 300px;
                    a{
                        font-family: Roboto,sans-serif;
                        font-size: 18px;
                        color: #5488c7;
                        font-weight: 500;
                    }
                }
                ul{
                    display: flex;
                    width: 150px;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        list-style: none;
                        color: #9b9b9b;
                        margin: 0 5px;
                    }
                }
                .reviewUser-info-time{
                    float: right;
                    color: #9b9b9b;
                    font-family: Roboto,sans-serif;
                    font-size: 14px;
                }
                #commentNum{
                    float: right;
                    color: #9b9b9b;
                    font-size: 20px;
                    margin-right: 20px;
                    cursor: pointer;
                    transition: 0.1s;
                    &:hover{
                        color: #333;
                        text-decoration: none;
                    }
                }
            }

            .review-show-content{
                .head-image{
                    width: 100%;
                    background: pink;
                    img{
                        width: 100%;
                    }
                }
                h1{
                    color: #000;
                    font-size: 30px;
                    font-family: Montserrat;
                    font-weight: 550;
                    letter-spacing: 2px;
                }
                span{
                    color: #777777;
                    font-family: Montserrat, sans-serif;
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
                .review-content{
                    padding-top: 30px;
                    p{
                        font-family: Roboto,sans-serif;
                        color: #484848;
                        word-spacing: 1px;
                        font-size: 18px;
                    }
                }
            }
            .review-show-sci{
                margin: 50px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                li{
                    list-style: none;
                    margin-right: 30px;
                    a{
                        text-decoration: none;
                        i{
                            color: #fff;
                            font-size: 18px;
                            padding: 10px 50px;
                        }
                        #sci1{
                            background: #3b5998;
                        }
                        #sci2{
                            background: #1da1f2;
                        }
                        #sci3{
                            background: #222222;
                        }
                    }
                }
            }
            #comment-wrapper{
                padding: 10px 0;
                padding-top: 50px;
                h2{
                    color: #000;
                    font-size: 22px;
                    font-family: Montserrat;
                    font-weight: 550;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
                    padding-bottom: 15px;
                    border-bottom: 2px solid #000;
                    width: 250px;
                }

                form{
                    .form-group{
                        width: 600px;
                        float: left;
                    }
                    #comment-submit{
                        float: right;
                    }
                }

                .comment-container{
                    .well{
                        padding: 10px;
                        padding-left: 20px;
                        .text-muted{
                            strong{
                                color: #5488c7;
                            }
                        }
                        blockquote{
                            width: 650px;
                            p{
                                color: #333;
                                font-family: Montserrat, sans-serif;
                                font-size: 16px;
                                width: 650px;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
        .review-show-right{
            width: 350px;
            background: #f2f2f2;
            padding: 20px;

            .search-field{
                display: flex;
                align-items: center;

                input{
                    width: 100%;
                    height: 50px;
                    padding-left: 10px;
                    font-size: 18px;
                    line-height: 50px;
                    padding-right: 40px;
                    border: none;
                    outline: none;
                    background: #e4e4e4;
                }
                i{
                    margin-left: -30px;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
            .popular-review{
                padding: 10px 0;

                .review-show-right-content{
                    h2{
                        color: #000;
                        font-size: 22px;
                        font-family: Montserrat;
                        font-weight: 550;
                        letter-spacing: 2px;
                        margin-bottom: 5px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #000;
                    }
                    
                }
                .review-show-right-content.popular-review{
                    .popular-review-contentBx{
                        padding: 30px 10px;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .popular-review-contentBx-img{
                            width: 100px;
                            img{
                                width: 100px;
                                height: 65px;
                                transition: 0.3s;
                                &:hover{
                                    filter: brightness(50%);
                                }
                            }
                        }
                        .popular-review-contentBx-text{
                                margin-left: 20px;
                            h3{ 
                                margin-top: 0;
                                color: #000;
                                font-size: 15px;
                                font-family: Montserrat;
                                font-weight: 550;
                                letter-spacing: 2px;
                                margin-bottom: 5px;
                            }
                            span{
                                color: #777777;
                                font-family: Montserrat, sans-serif;
                                font-size: 12px;
                                font-weight: bold;
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                }
                .review-show-right-content.follow{
                    .popular-review-sci{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 150px;
                        padding: 20px 0;
                        padding-bottom: 40px;
                        li{
                            list-style: none;
                            margin-left: 10px;
                            a{
                                text-decoration: none;
                                i{
                                    color: #000;
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
                .review-show-right-content.subscribe{
                    .subscribe-form{
                        padding: 20px 0;
                        .subscribe-form-Tx{
                            font-size: 14px;
                            font-family: Roboto,Arial,sans-serif;
                            color: #484848;
                        }
                        input{
                            width: 100%;
                            height: 34px;
                            padding: 10px 8px;
                        }
                        #sub-submit{
                            margin-top: 20px;
                            width: 120px;
                            background: #aaaaaa;
                            color: #fff;
                            height: 30px;
                            padding: 2px 20px;
                            border: none;
                            border-radius: 5px;
                            transiton: 0.3s;
                            margin-bottom: 20px;
                            &:hover{
                                background: #484848;
                            }
                        }
                        p{
                            font-size: 14px;
                            font-family: arial;
                        }
                    }
                }
            }
        }
    }
}

/* Product Collection */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

.product-collection-wrapper{
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: flex-start;

    .template-collection{
        width: 500px;
        height: 100%;
        background: red;
        position: absolute;
        z-index: 0;
        display: flex;
        
        .template{
            position: relative;
            width: 100px;
            height: 100%;
            .templateTx{
                position: relative;
                transform: rotate(-90deg);
                margin-top: 250px;
                a{
                    position: relative;
                    z-index: 20;
                    color: #fff;
                    font-family: Roboto,sans-serif;
                    font-size: 35px;
                    font-weight: 600;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        
        .templateBx{
            position: relative;
            width: 100%;
            margin-top: 160px;
            padding: 0 40px;
            h2{
                position: relative;
                margin-bottom: 30px;
                a{
                    position: relative;
                    color: #fff;
                    font-family: Roboto,sans-serif;
                    font-size: 50px;
                    font-weight: 600;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            p{  
                width: 80%;
                color: #fff;
                font-family: Roboto,sans-serif;
                font-size: 20px;
                font-weight: 300;
            }
        }
        .template.stage1{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/d620dff9-95bb-4a5c-964c-3b6d07794a05/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
        .template.stage2{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/575cf84b-ad18-4e3e-bf8a-e170c0b05e1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;

        }
        .template.stage3{
            width: 300px;
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/e5f14d0f-fdb7-4ada-bf5f-f635a504f7c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
        .template.studio1{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/e5f14d0f-fdb7-4ada-bf5f-f635a504f7c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
        .template.studio2{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/575cf84b-ad18-4e3e-bf8a-e170c0b05e1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;

        }
        .template.studio3{
            width: 300px;
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/d620dff9-95bb-4a5c-964c-3b6d07794a05/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
        .template.audiophile1{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/e5f14d0f-fdb7-4ada-bf5f-f635a504f7c1/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
        .template.audiophile2{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/d620dff9-95bb-4a5c-964c-3b6d07794a05/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;

        }
        .template.audiophile3{
            width: 300px;
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.shgcdn.com/575cf84b-ad18-4e3e-bf8a-e170c0b05e1d/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
        }
    }
    .product-collection-container{
        padding: 0 50px;
        padding-top: 120px;
        position: absolute;
        left: 500px;
        a:hover{
            text-decoration: none;
        }

        h1{
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 40px;
            margin-left: 100px;
        }
        .product-collection-content{
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .product-collection-contentBx{
                width: 300px;
                transition: 0.5s;
                padding: 40px;
                background: #fff;

                .product-collection-contentBx-img{
                    width: 100%;
                    height: 150px;
                    transition: 0.5s;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .product-collection-contentBx-text{

                    h2{
                        color: #3a3a3a;
                        font-family: 'Raleway', sans-serif;
                        text-align: center;
                        font-weight: 500;
                        font-size: 24px;

                        span{
                            font-weight: 700;
                        }
                    }
                    h3{
                        color: #3a3a3a;
                        font-family: 'Raleway', sans-serif;
                        text-align: center;
                        font-weight: 300;
                        font-size: 18px;
                    }
                    .product-collection-contentBx-descritpion{
                        display: none;
                        p{
                            margin-top: 30px;
                            color: #3a3a3a;
                            font-family: 'Raleway', sans-serif;
                            text-align: center;
                            font-weight: 400;
                            font-size: 16px;
                        }
                        .product-collection-contentBx-edit{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            li{
                                list-style: none;
                                margin: 0 20px;
                            }
                        }
                    }   
                }
            }
            .product-collection-contentBx:hover{
                width: 340px;
                box-shadow: 10px 10px 30px rgba(0,0,0,0.1), -10px -10px 30px rgba(0,0,0,0.1);
                margin-top: -30px;
                margin-left: -20px;
                margin-bottom: -50px;
                margin-right: -20px;
                position: relative;
                z-index: 10;
            }
            .product-collection-contentBx:hover .product-collection-contentBx-img{
                height: 200px;
            }
            .product-collection-contentBx:hover .product-collection-contentBx-text .product-collection-contentBx-descritpion{
                display: initial;
            }
        }
    }
}


/* Product Show */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
.product-show-wrapper{

    .second-header{
        position: fixed;
        width: 100%;
        top: 72px;
        border-top: 2px solid #fff;
        .second-header-menu{
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            li{
                list-style: none;
                margin: 0 20px;
                a{
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: Montserrat,sans-serif;
                }
            }
        }
    }

    .product-show-container{
        section{
            padding: 100px;
            width: 100%;
            height: 100vh;
        }
        .product-show-overview{
            background: url('https://i.shgcdn.com/b6fb5299-776d-41dd-b2ac-03c3513a79a6/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 12%;

            .product-show-contentBx{
                width: 40%;
                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 3.5em;
                }
                h3{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 2.2em;
                }
                p{
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                }
                #estimaed-time{
                    font-weight: 700;
                    margin-bottom: 50px;
                    margin-top: -15px;
                }
                a{
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    color: #fff;
                    background: #000;
                    padding: 10px 35px;
                    border-radius: 30px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }

            img{
                position: absolute;
                top: 200px;
                right: 150px;
                width: 42%;
            }
        }
        .product-show-technology{
            background: url('https://i.shgcdn.com/b6fb5299-776d-41dd-b2ac-03c3513a79a6/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
            padding-top: 200px;
            padding-left: 150px;
            padding-right: 150px;

            h2{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 2.5em;
                letter-spacing: 2px;
                margin-bottom: 50px;
            }
            p{
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 300;
                
                a{
                    color: #000;
                }
            }
            h3{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 18;
            }
            .tech-row{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;
                .tech-rowBx{
                    width: 32%;
                    overflow: hidden;
                    background: #86817c33;
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .tech-content{
                        margin-bottom: 30px;
                        img{
                            height: 45px;
                            margin-bottom: 20px;
                        }
                        p{
                            text-align: left;
                        }
                    }
                    a{
                        color: #a9a49f;
                        font-size: 18px;
                        &:hover{
                            text-decoration: none;
                            span{
                                color: #3a3a3a;
                            }
                        }
                    }
                }
            }
        }
        .product-show-specifications{
            background: url('https://i.shgcdn.com/4dc01e58-138f-460b-8f33-d1d7f5a52713/-/format/auto/-/preview/3000x3000/-/quality/lighter/');
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            .specifications-content{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                .specifications-contentBx{
                    width: 40%;
                    h2{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 22;
                        margin-bottom: 30px;
                    }
                    .specifications-contentTx{
                        width: 100%;
                        border-top: 1px solid #000;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 10px;
                        .specifications-contentTxW{
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        .specifications-contentTxL{
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .product-show-in-the-box{
            background: url("https://i.shgcdn.com/697e472d-f4f7-4d9d-8bc8-027289798714/-/format/auto/-/preview/3000x3000/-/quality/lighter/");
            background-position: center;
            background-size: cover;
            img{
                position: absolute;
                width: 1200px;
                height: 750px;
                left: 100px;
            }
            .in-the-box-contentBx{
                width: 500px;
                position: absolute;
                right: 50px;
                z-index: 10;
                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 26;
                    margin-bottom: 30px;
                    color: #fff;
                    margin-top: 50px;
                }
                .in-the-box-text{
                    width: 100%;
                    p{
                        width: 100%;
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.replies {margin-left: 50px;}
/* 5 levels nesting */
.replies .replies .replies .replies .replies {margin-left: 0;}

/*slide bar */
.gravatar {
    float: left;
    margin-right: 10px;
}
.gravatar_edit {
    margin-top: 15px;
}
.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
a {
float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
    padding-left: 0;
    border: 0;
}
&:hover {
    text-decoration: none;
    color: blue;
}
}
strong {
    display: block;
}
}
.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
    margin: 1px 1px;
}
a {
    padding: 0;
}
}
.users.follow {
    padding: 0;
}

