<footer>
    <ul class="sci">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
    <ul class="footer-content">
        <li>
            <h3>PRODUCTS</h3>
            <ul>
                <li><a href="#">In-Ear Monitors</a></li>
                <li><a href="#">Custom IEMs</a></li>
                <li><a href="#">Universal IEMs</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Merch</a></li>
            </ul>
        </li>
        <li>
            <h3>TECHNOLOGY</h3>
            <ul>
                <li><a href="#">29 Audio Technology</a></li>
                <li><a href="#">tia</a></li>
                <li><a href="#">apex</a></li>
                <li><a href="#">3D-Fit</a></li>
                <li><a href="#">LID</a></li>
            </ul>
        </li>
        <li>
            <h3>ABOUT US</h3>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">64 Audio Family</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </li>
        <li>
            <h3>SUPPORT</h3>
            <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">How to order</a></li>
                <li><a href="#">Where to Buy</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </li>
        <li>
            <h3>CONTACT</h3>
            <ul>
                    <li><a href="#">Contact Us</a></li>
            </ul>
        </li>
    </ul>
    <div class="small-footer">
        <span><i class="far fa-copyright"></i> 2020, <a href="#">29 Audio</a></span>
    </div>
</footer>