<div class="header-layout"></div>
<header>
    <div class="logo">
        <a href="http://localhost:3000"><img src="https://cdn.shopify.com/s/files/1/0411/4717/0966/files/Horizontial-Logo-White-100px_300x300.png?v=1598566575"></a>
    </div>
    <ul class="menubar">
        <li><a href="http://localhost:3000/pages/iems">IN-EAR MONITORS</a></li>
        <li><a href="#">TECHNOLOGY</a></li>
        <li><a href="#">REVIEW</a></li>
        <li><a href="http://localhost:3000/pages/help">SUPPORT</a></li>
        <li><a href="http://localhost:3000/pages/how-to-order">HOW TO ORDER</a></li>
    </ul>
    <ul class="userbar">
        <li><a href="#"><i class="far fa-user"></i></a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        <li><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</header>