<div class="hidden-menu">
    <div class="close-buttom"><i class="fas fa-times" onclick="closeHiddenMenu()"></i></div>
    <ul>
        <li><a href="">64 FAMILY</a></li>
        <li><a href="">LEGACY UPGRADE</a></li>
        <li><a href="">REVIEW</a></li>
        <li><a href="">CONTACT US</a></li>
        <li><a href="">WHERE TO BUY</a></li>
        <li><a href="">MY ACCOUNT</a></li>
    </ul>
</div>

<script type="text/javascript">
    function closeHiddenMenu(){
        var hiddenMenu = document.querySelector('.hidden-menu');
        hiddenMenu.style.marginRight = "-450px";
    }
</script>